<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.classroomchat.marwen.classroomchat">

    <!-- permissions needed for Bluetooth -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- vibration permission -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- sorage permission (for user profile)-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/classroomchat_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/classroomchat_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DeviceListActivity" />
        <activity android:name=".SettingsActivity" />
        <activity
            android:name=".IntroActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SetUpProfile"></activity>
    </application>

</manifest>